:root {
  --badge-background: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.15));
  --badge-text: light-dark(#fff, #fff);
}

.badge {
  display: inline-flex;
  flex-basis: auto;
  gap: 0.25rem;
  border-radius: 20px;
  background-color: var(--badge-background);
  padding: 0.25rem 0.5rem;
  color: var(--badge-text);
  font-weight: 500;
  font-size: 0.75rem;
}
