:root {
  --input-border-inactive: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
  --input-border-focus: light-dark(#3969e5, #3969e5);
  --input-text: light-dark(#000, #fff);
  --input-label-text: var(--text-secondary);
  --input-text-placeholder: light-dark(#838383, #838383);
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  label {
    color: var(--input-label-text);
    font-weight: 500;
    font-size: 0.875rem;
  }

  &__input {
    position: relative;
  }

  input {
    display: flex;
    align-items: center;
    transition: border-color 0.2s ease-in-out;
    border: 1px solid var(--input-border-inactive);
    border-radius: 33px;
    background-color: transparent;
    padding: 0 1.875rem;
    width: 100%;
    height: 3.5rem;
    color: var(--input-text);
    font-weight: 500;
    font-size: 0.875rem;

    &[type="search"] {
      padding-left: 3rem;

      &::-webkit-search-cancel-button {
        position: absolute;
        right: 1.125rem;
        width: 30px;
        height: 30px;
      }
    }

    &:focus {
      outline: none;
      border-color: var(--input-border-focus);
    }
  }

  &__accessory {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translate(0, -50%);
    margin-top: 0.25rem;
  }
}
