.drawer {
  position: fixed;
  top: 0;
  left: 0;
  grid-template-columns: 1fr;
  z-index: 100;
  width: 100%;
  height: 100%;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 300px 1fr 560px;
    grid-template-areas: "space space content";

    &.drawer--left {
      grid-template-columns: 560px 1fr 1fr;
      grid-template-areas: "content space space";
    }
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 300px 1fr 1fr;
  }

  &--open {
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: light-dark(rgba(130, 130, 130, 0.2), rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 100%;

    .drawer--open & {
      opacity: 1;
      animation: fade-in 0.1s ease-in-out;
    }

    .drawer--dismissed & {
      opacity: 0;
      animation: fade-out 0.3s ease-in-out;
    }
  }

  &__content {
    display: none;
    position: relative;
    grid-area: content;
    opacity: 0;
    z-index: 1;
    margin: 1rem 0 0 0;
    border-radius: 30px;
    width: calc(100% - 2rem);
    height: calc(100% - 2.5rem);
    height: calc((var(--vh, 1vh) * 100) - 2rem);

    .drawer--left & {
      left: 1rem;
    }

    .drawer--right & {
      right: -1rem;
      left: unset;
    }

    .drawer--open:not(.drawer--slide) & {
      display: grid;
      opacity: 1;
      animation: fade-in 0.1s ease-in-out;
    }

    .drawer--dismissed:not(.drawer--slide) & {
      opacity: 0;
      animation: fade-out 0.1s ease-in-out;
    }

    .drawer--slide & {
      display: grid;
      opacity: 1;
    }

    .drawer--left.drawer--slide & {
      left: -100%;
    }

    .drawer--left.drawer--open.drawer--slide & {
      left: 1rem;
      animation: slide-in-left 0.2s ease-in-out;
    }

    .drawer--left.drawer--dismissed.drawer--slide & {
      left: -100%;
      animation: slide-out-left 0.2s ease-in-out;
    }

    .drawer--right.drawer--slide & {
      right: -100%;
    }

    .drawer--right.drawer--open.drawer--slide & {
      right: -1rem;
      animation: slide-in-right 0.2s ease-in-out;
    }

    .drawer--right.drawer--dismissed.drawer--slide & {
      right: -100%;
      animation: slide-out-right 0.2s ease-in-out;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.5rem 0rem 1rem;

    @media screen and (min-width: 768px) {
      padding: 0.75rem 0.75rem 0rem 1.5rem;
    }

    h2 {
      color: var(--text-primary);
      font-weight: 400;
      font-size: 1.25rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background: none;
      color: var(--text-primary);
    }
  }

  &__body {
    padding: 1.5rem 1rem 124px 1rem;
    height: calc(100% - 16px);
    height: calc((var(--vh, 1vh) * 100) - 16px);
    overflow: auto;

    @media screen and (min-width: 768px) {
      padding: 1.5rem 1.5rem 124px 1.5rem;
    }

    .drawer--has-header & {
      height: calc(100% - 93px);
      height: calc((var(--vh, 1vh) * 100) - 93px);
    }
  }

  &__actions {
    display: flex;
    position: absolute;
    bottom: 1px;
    justify-content: flex-end;
    gap: 0.75rem;
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 0 0 30px 30px;
    background-color: light-dark(rgba(130, 130, 130, 0.2), rgba(0, 0, 0, 0.8));
    padding: 0.75rem 1rem;
    width: calc(100% - 2px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    left: -100%;
  }
  to {
    left: 1rem;
  }
}

@keyframes slide-out-left {
  from {
    left: 1rem;
  }
  to {
    left: -100%;
  }
}

@keyframes slide-in-right {
  from {
    right: -100%;
  }
  to {
    right: 1rem;
  }
}

@keyframes slide-out-right {
  from {
    right: 1rem;
  }
  to {
    right: -100%;
  }
}
