:root {
  --panel-background: light-dark(#fff, #121212);
  --panel-border: light-dark(#dedede, #181818);
  --panel-border-radius: 30px;
}

.panel {
  box-sizing: border-box;
  border: 1px solid var(--panel-border);
  background-color: var(--panel-background);

  &--border-radius-full {
    border-radius: var(--panel-border-radius);
  }

  &--border-radius-top {
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
  }

  &--border-radius-bottom {
    border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius);
  }

  &--overflow-hidden {
    overflow: hidden;
  }

  &--transparent {
    background-color: transparent;
  }
}
