.form-field {
  select {
    appearance: none;
    cursor: pointer;
  }

  &__input--empty {
    color: var(--text-secondary) !important;
  }

  &__arrow {
    display: flex;
    position: absolute;
    top: calc(50% + 2px);
    right: 1rem;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    color: var(--text-primary);
  }
}
